@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Hanken Grotesk", sans-serif;
  color: white;
}

body {
  background-color: #000000;
}

nav {
  width: 100vw;
  height: 10vh;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6096b4;
  z-index: 51;
}

.container {
  margin: 14px auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.nav-logo h1 {
  font-size: 36px;
  font-weight: 900;
  font-style: italic;
  color: #000000;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.nav-menu a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  letter-spacing: 5px;
  padding: 0 5px;
}

.nav-menu a::after {
  content: "";
  position: absolute;
  background-color: white;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -6px;
  transition: 0.4s;
}

.nav-menu a:hover {
  color: white;
}

.nav-menu a:hover::after {
  font-size: 20px;
  width: 100%;
}

#Home > .container {
  border: 1px solid;
  padding-top: 40px;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content-left {
  width: 45%;
}

.content h1 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 16px;
}

.content h1 > span {
  font-size: 46px;
  font-weight: 900;
  font-style: italic;
  color: #6096b4;
}

strong {
  position: relative;
  z-index: -1;
}

strong::before {
  background-color: #6096b4;
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 60%;
  left: -2px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-2deg);
}

#btn-download {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  background: #6096b4;
  border: 0;
  border-radius: 5px;
  padding: 14px;
  margin: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(147, 191, 207, 0.1);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

#btn-download:hover,
#btn-download:focus,
#btn:active {
  box-shadow: 0 0 10px rgba(147, 191, 207, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.content-right {
  height: 90vh;
  width: 45%;
  display: flex;
  align-items: center;
  position: relative;
}

#img-hero {
  border: 1px solid;
  width: 100%;
  height: 90vh;
  object-fit: cover;
  object-position: -10% 0;
  -webkit-mask: url("./Foto/graph.png") no-repeat center;
  mask: url("./Foto/graph.png") no-repeat center;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  position: relative;
  z-index: -1;
}

#img-back {
  position: absolute;
  width: 100%;
  top: 7px;
  height: auto;
  z-index: -2;
}

#About > .container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10vh;
}

#title-section {
  border: 1px solid;
  width: 100;
  padding: 0 15px;
}

#title-section h3 {
  font-size: 32px;
  letter-spacing: 2px;
}
.card-about {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  background-color: #26292b8c;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 5px rgba(214, 214, 214, 0.63);
}

.card-about > .content-left {
  height: auto;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-about > .content-right {
  height: auto;
  width: 40rem;
  padding: 0 14px;
}

#img-about {
  justify-content: center;
  align-items: center;
  height: 300px;
}

.content-right > p {
  font-weight: 300;
  line-height: 25px;
}

#Skills > .container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10vh;
}

.env {
  display: flex;
  gap: 20px;
}

.btn-env {
  padding: 4px 12px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.3);
}

.active {
  color: #6096b4;
  background-color: #739bb128;
  padding: 4px 12px;
  border-radius: 5px;
}

.btn-env:hover {
  color: #6096b4;
  background-color: #739bb128;
  padding: 4px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.cards {
  border: 1px solid;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10px;
}

.card {
  border: 2px solid #739bb1;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 22%;
  height: 10vh;
  gap: 20px;
  padding: 8px 12px;
}

.card img {
  max-width: 50px;
}

.card h6 {
  font-size: 24px;
  letter-spacing: 3px;
}

#level {
  color: #739bb1;
}

.hidden {
  display: none;
}

.card:hover {
  background-color: #739bb128;
}

#Blog > .container {
  height: 110vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10vh;
}

.card-blog {
  border: 2px solid;
  border-radius: 5px;
  width: 28%;
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(20, 20, 20);
  box-shadow: 2px 4px 4px rgb(255, 255, 255);
}

.img-blog {
  background-color: #ffa125;
  border-radius: 10px;
}

.img-blog img {
  max-width: 300px;
}

.title-blog h2 a {
  text-decoration: none;
}

.title-blog h2 a:hover {
  color: #6096b4;
}

.desc-blog p {
  font-weight: 300;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.btn-blog button {
  background-color: #6096b4;
  padding: 8px 14px;
  border-radius: 5px;
  border: 1px solid #6096b4;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  float: right;
}

.btn-blog a {
  text-decoration: none;
  font-size: 16px;
}

#Contact > .container {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10vh;
}

.container-contact {
  border: 1px solid #ffa125;
  width: 100%;
}

.container-contact h1 {
  margin-bottom: 10px;
}
.container-contact p {
  margin-bottom: 40px;
}

.contact-box {
  display: flex;
}

.contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
}

.contact-left h3 {
  color: #6096b4;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact-right {
  flex-basis: 40%;
  padding: 40px;
  background-color: #6096b4;
}

.contact-right > h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-row .input-group {
  flex-basis: 45%;
}

input {
  width: 100%;
  background-color: #000000;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  padding-bottom: 5px;
  padding-left: 5px;
}

textarea {
  width: 100%;
  background-color: #000000;
  border: 1px solid;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}

#send {
  background-color: #304b5a;
  width: 100px;
  border: none;
  outline: none;
  color: #ffffff;
  height: 35px;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 14px;
  box-shadow: 0px 3px #6096b4;
}

.contact-right > .contact-box {
  flex-direction: column;
}

.wrapper {
  border: 1px solid;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.wrapper h3 {
  font-weight: 400;
  font-size: larger;
}

.sosmed {
  margin-top: 100px;
}

.sosmed a {
  margin: 0 5px;
}
